
.header__inner{
    width: 100%;
    min-height: 70px;
    background-color: #fff;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}
.header__btn{
    border: none;
    display: inline-block;
    background-image: var(--linear-gradient);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-large);
    border-radius: var(--border-radius);
    color: var(--color-unaccent);
    text-transform: capitalize;
    font-weight: 700;
 }

    .header__btn:not(:last-child){
        margin: 30px;
    }

